<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title><%= _.slugify(appname) %> demo</title>
    <script data-main="main" src="src/bower_components/requirejs/require.js"></script>
</head>
<body role="document">
    <div class="container">
        <h1><%= _.slugify(appname) %> demo</h1>

        <div id="tree" class="pat-fancytree" data-pat-fancytree="">
          <ul id="treeData" style="display: none;">
            <li id="1">Node 1
            <li id="2" class="folder">Folder 2
              <ul>
                <li id="3">Node 2.1
                <li id="4">Node 2.2
              </ul>
          </ul>
        </div>

    </div>
</body>
</html>
